

.pyro > .before, .pyro > .after {
	position: absolute;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	box-shadow:  0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
	-moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	-ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
	animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
	-moz-animation-delay: 1.25s, 1.25s, 1.25s;
	-webkit-animation-delay: 1.25s, 1.25s, 1.25s;
	-o-animation-delay: 1.25s, 1.25s, 1.25s;
	-ms-animation-delay: 1.25s, 1.25s, 1.25s;
	animation-delay: 1.25s, 1.25s, 1.25s;
	-moz-animation-duration: 1.25s, 1.25s, 6.25s;
	-webkit-animation-duration: 1.25s, 1.25s, 6.25s;
	-o-animation-duration: 1.25s, 1.25s, 6.25s;
	-ms-animation-duration: 1.25s, 1.25s, 6.25s;
	animation-duration: 1.25s, 1.25s, 6.25s;
}
@-webkit-keyframes bang {
	to {
		box-shadow:  173px -217.3333333333px #2f00ff, 7px -129.3333333333px #ff2b00, 119px 50.6666666667px #0dff00, -1px -282.3333333333px #0084ff, -35px -36.3333333333px #ff1e00, 90px -24.3333333333px #d9ff00, -189px 63.6666666667px #eaff00, -40px -86.3333333333px #d500ff, -212px -181.3333333333px #00b7ff, -188px -47.3333333333px #d000ff, -43px -65.3333333333px #2bff00, 137px -323.3333333333px #4800ff, 88px -268.3333333333px #0ef, -94px -265.3333333333px #ffbf00, -194px -332.3333333333px #f20, 113px -328.3333333333px #00aeff, -107px -311.3333333333px #ff0040, -223px -272.3333333333px #fffb00, 121px -304.3333333333px #fb0, -101px -95.3333333333px #00ff6f, 2px -105.3333333333px #15ff00, -215px -244.3333333333px #8cff00, 93px -101.3333333333px #ffd500, -55px -217.3333333333px #ff2600, 231px -197.3333333333px #f0f, -128px -33.3333333333px #ff0059, -70px -51.3333333333px #ff004c, 174px -179.3333333333px #ff5e00, 167px -136.3333333333px #00c4ff, 174px -295.3333333333px #d0ff00, -226px 51.6666666667px #7bff00, 17px -19.3333333333px #0fc, -207px 32.6666666667px #0f5, -226px 49.6666666667px #ff0040, -91px -117.3333333333px #6f00ff, -201px -308.3333333333px #3cff00, -202px 13.6666666667px #ff9100, 31px -270.3333333333px #00ff37, -157px -215.3333333333px #ff0059, -111px -300.3333333333px #3c00ff, 20px -115.3333333333px #f80, 34px -5.3333333333px #b3ff00, -152px 60.6666666667px #60f, 179px 7.6666666667px #73ff00, -67px -74.3333333333px #7b00ff, -162px -265.3333333333px #ff4d00, -67px -168.3333333333px #0ff, -22px -138.3333333333px #fe0, -114px -66.3333333333px #00ff62, 184px -271.3333333333px #00a2ff, 69px -299.3333333333px #d5ff00, 230px -189.3333333333px #80f, -239px -17.3333333333px #0008ff, -9px -78.3333333333px #6aff00, 132px -17.3333333333px #a2ff00, -131px -193.3333333333px #0400ff, -143px -198.3333333333px #0048ff, -171px -78.3333333333px #8cff00, 190px 5.6666666667px #fc0, -145px 13.6666666667px #ff00d5, 79px -267.3333333333px #0800ff;
   }
}
@-moz-keyframes bang {
	to {
		box-shadow:  173px -217.3333333333px #2f00ff, 7px -129.3333333333px #ff2b00, 119px 50.6666666667px #0dff00, -1px -282.3333333333px #0084ff, -35px -36.3333333333px #ff1e00, 90px -24.3333333333px #d9ff00, -189px 63.6666666667px #eaff00, -40px -86.3333333333px #d500ff, -212px -181.3333333333px #00b7ff, -188px -47.3333333333px #d000ff, -43px -65.3333333333px #2bff00, 137px -323.3333333333px #4800ff, 88px -268.3333333333px #0ef, -94px -265.3333333333px #ffbf00, -194px -332.3333333333px #f20, 113px -328.3333333333px #00aeff, -107px -311.3333333333px #ff0040, -223px -272.3333333333px #fffb00, 121px -304.3333333333px #fb0, -101px -95.3333333333px #00ff6f, 2px -105.3333333333px #15ff00, -215px -244.3333333333px #8cff00, 93px -101.3333333333px #ffd500, -55px -217.3333333333px #ff2600, 231px -197.3333333333px #f0f, -128px -33.3333333333px #ff0059, -70px -51.3333333333px #ff004c, 174px -179.3333333333px #ff5e00, 167px -136.3333333333px #00c4ff, 174px -295.3333333333px #d0ff00, -226px 51.6666666667px #7bff00, 17px -19.3333333333px #0fc, -207px 32.6666666667px #0f5, -226px 49.6666666667px #ff0040, -91px -117.3333333333px #6f00ff, -201px -308.3333333333px #3cff00, -202px 13.6666666667px #ff9100, 31px -270.3333333333px #00ff37, -157px -215.3333333333px #ff0059, -111px -300.3333333333px #3c00ff, 20px -115.3333333333px #f80, 34px -5.3333333333px #b3ff00, -152px 60.6666666667px #60f, 179px 7.6666666667px #73ff00, -67px -74.3333333333px #7b00ff, -162px -265.3333333333px #ff4d00, -67px -168.3333333333px #0ff, -22px -138.3333333333px #fe0, -114px -66.3333333333px #00ff62, 184px -271.3333333333px #00a2ff, 69px -299.3333333333px #d5ff00, 230px -189.3333333333px #80f, -239px -17.3333333333px #0008ff, -9px -78.3333333333px #6aff00, 132px -17.3333333333px #a2ff00, -131px -193.3333333333px #0400ff, -143px -198.3333333333px #0048ff, -171px -78.3333333333px #8cff00, 190px 5.6666666667px #fc0, -145px 13.6666666667px #ff00d5, 79px -267.3333333333px #0800ff;
   }
}
@-o-keyframes bang {
	to {
		box-shadow:  173px -217.3333333333px #2f00ff, 7px -129.3333333333px #ff2b00, 119px 50.6666666667px #0dff00, -1px -282.3333333333px #0084ff, -35px -36.3333333333px #ff1e00, 90px -24.3333333333px #d9ff00, -189px 63.6666666667px #eaff00, -40px -86.3333333333px #d500ff, -212px -181.3333333333px #00b7ff, -188px -47.3333333333px #d000ff, -43px -65.3333333333px #2bff00, 137px -323.3333333333px #4800ff, 88px -268.3333333333px #0ef, -94px -265.3333333333px #ffbf00, -194px -332.3333333333px #f20, 113px -328.3333333333px #00aeff, -107px -311.3333333333px #ff0040, -223px -272.3333333333px #fffb00, 121px -304.3333333333px #fb0, -101px -95.3333333333px #00ff6f, 2px -105.3333333333px #15ff00, -215px -244.3333333333px #8cff00, 93px -101.3333333333px #ffd500, -55px -217.3333333333px #ff2600, 231px -197.3333333333px #f0f, -128px -33.3333333333px #ff0059, -70px -51.3333333333px #ff004c, 174px -179.3333333333px #ff5e00, 167px -136.3333333333px #00c4ff, 174px -295.3333333333px #d0ff00, -226px 51.6666666667px #7bff00, 17px -19.3333333333px #0fc, -207px 32.6666666667px #0f5, -226px 49.6666666667px #ff0040, -91px -117.3333333333px #6f00ff, -201px -308.3333333333px #3cff00, -202px 13.6666666667px #ff9100, 31px -270.3333333333px #00ff37, -157px -215.3333333333px #ff0059, -111px -300.3333333333px #3c00ff, 20px -115.3333333333px #f80, 34px -5.3333333333px #b3ff00, -152px 60.6666666667px #60f, 179px 7.6666666667px #73ff00, -67px -74.3333333333px #7b00ff, -162px -265.3333333333px #ff4d00, -67px -168.3333333333px #0ff, -22px -138.3333333333px #fe0, -114px -66.3333333333px #00ff62, 184px -271.3333333333px #00a2ff, 69px -299.3333333333px #d5ff00, 230px -189.3333333333px #80f, -239px -17.3333333333px #0008ff, -9px -78.3333333333px #6aff00, 132px -17.3333333333px #a2ff00, -131px -193.3333333333px #0400ff, -143px -198.3333333333px #0048ff, -171px -78.3333333333px #8cff00, 190px 5.6666666667px #fc0, -145px 13.6666666667px #ff00d5, 79px -267.3333333333px #0800ff;
   }
}
@-ms-keyframes bang {
	to {
		box-shadow:  173px -217.3333333333px #2f00ff, 7px -129.3333333333px #ff2b00, 119px 50.6666666667px #0dff00, -1px -282.3333333333px #0084ff, -35px -36.3333333333px #ff1e00, 90px -24.3333333333px #d9ff00, -189px 63.6666666667px #eaff00, -40px -86.3333333333px #d500ff, -212px -181.3333333333px #00b7ff, -188px -47.3333333333px #d000ff, -43px -65.3333333333px #2bff00, 137px -323.3333333333px #4800ff, 88px -268.3333333333px #0ef, -94px -265.3333333333px #ffbf00, -194px -332.3333333333px #f20, 113px -328.3333333333px #00aeff, -107px -311.3333333333px #ff0040, -223px -272.3333333333px #fffb00, 121px -304.3333333333px #fb0, -101px -95.3333333333px #00ff6f, 2px -105.3333333333px #15ff00, -215px -244.3333333333px #8cff00, 93px -101.3333333333px #ffd500, -55px -217.3333333333px #ff2600, 231px -197.3333333333px #f0f, -128px -33.3333333333px #ff0059, -70px -51.3333333333px #ff004c, 174px -179.3333333333px #ff5e00, 167px -136.3333333333px #00c4ff, 174px -295.3333333333px #d0ff00, -226px 51.6666666667px #7bff00, 17px -19.3333333333px #0fc, -207px 32.6666666667px #0f5, -226px 49.6666666667px #ff0040, -91px -117.3333333333px #6f00ff, -201px -308.3333333333px #3cff00, -202px 13.6666666667px #ff9100, 31px -270.3333333333px #00ff37, -157px -215.3333333333px #ff0059, -111px -300.3333333333px #3c00ff, 20px -115.3333333333px #f80, 34px -5.3333333333px #b3ff00, -152px 60.6666666667px #60f, 179px 7.6666666667px #73ff00, -67px -74.3333333333px #7b00ff, -162px -265.3333333333px #ff4d00, -67px -168.3333333333px #0ff, -22px -138.3333333333px #fe0, -114px -66.3333333333px #00ff62, 184px -271.3333333333px #00a2ff, 69px -299.3333333333px #d5ff00, 230px -189.3333333333px #80f, -239px -17.3333333333px #0008ff, -9px -78.3333333333px #6aff00, 132px -17.3333333333px #a2ff00, -131px -193.3333333333px #0400ff, -143px -198.3333333333px #0048ff, -171px -78.3333333333px #8cff00, 190px 5.6666666667px #fc0, -145px 13.6666666667px #ff00d5, 79px -267.3333333333px #0800ff;
   }
}
@keyframes bang {
	to {
		box-shadow:  173px -217.3333333333px #2f00ff, 7px -129.3333333333px #ff2b00, 119px 50.6666666667px #0dff00, -1px -282.3333333333px #0084ff, -35px -36.3333333333px #ff1e00, 90px -24.3333333333px #d9ff00, -189px 63.6666666667px #eaff00, -40px -86.3333333333px #d500ff, -212px -181.3333333333px #00b7ff, -188px -47.3333333333px #d000ff, -43px -65.3333333333px #2bff00, 137px -323.3333333333px #4800ff, 88px -268.3333333333px #0ef, -94px -265.3333333333px #ffbf00, -194px -332.3333333333px #f20, 113px -328.3333333333px #00aeff, -107px -311.3333333333px #ff0040, -223px -272.3333333333px #fffb00, 121px -304.3333333333px #fb0, -101px -95.3333333333px #00ff6f, 2px -105.3333333333px #15ff00, -215px -244.3333333333px #8cff00, 93px -101.3333333333px #ffd500, -55px -217.3333333333px #ff2600, 231px -197.3333333333px #f0f, -128px -33.3333333333px #ff0059, -70px -51.3333333333px #ff004c, 174px -179.3333333333px #ff5e00, 167px -136.3333333333px #00c4ff, 174px -295.3333333333px #d0ff00, -226px 51.6666666667px #7bff00, 17px -19.3333333333px #0fc, -207px 32.6666666667px #0f5, -226px 49.6666666667px #ff0040, -91px -117.3333333333px #6f00ff, -201px -308.3333333333px #3cff00, -202px 13.6666666667px #ff9100, 31px -270.3333333333px #00ff37, -157px -215.3333333333px #ff0059, -111px -300.3333333333px #3c00ff, 20px -115.3333333333px #f80, 34px -5.3333333333px #b3ff00, -152px 60.6666666667px #60f, 179px 7.6666666667px #73ff00, -67px -74.3333333333px #7b00ff, -162px -265.3333333333px #ff4d00, -67px -168.3333333333px #0ff, -22px -138.3333333333px #fe0, -114px -66.3333333333px #00ff62, 184px -271.3333333333px #00a2ff, 69px -299.3333333333px #d5ff00, 230px -189.3333333333px #80f, -239px -17.3333333333px #0008ff, -9px -78.3333333333px #6aff00, 132px -17.3333333333px #a2ff00, -131px -193.3333333333px #0400ff, -143px -198.3333333333px #0048ff, -171px -78.3333333333px #8cff00, 190px 5.6666666667px #fc0, -145px 13.6666666667px #ff00d5, 79px -267.3333333333px #0800ff;
   }
}
@-webkit-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
   }
}
@-moz-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
   }
}
@-o-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
   }
}
@-ms-keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
   }
}
@keyframes gravity {
	to {
		transform: translateY(200px);
		-moz-transform: translateY(200px);
		-webkit-transform: translateY(200px);
		-o-transform: translateY(200px);
		-ms-transform: translateY(200px);
		opacity: 0;
   }
}
@-webkit-keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
   }
	20%, 39.9% {
		margin-top: 40%;
		margin-left: 30%;
   }
	40%, 59.9% {
		margin-top: 20%;
		margin-left: 70%;
   }
	60%, 79.9% {
		margin-top: 30%;
		margin-left: 20%;
   }
	80%, 99.9% {
		margin-top: 30%;
		margin-left: 80%;
   }
}
@-moz-keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
   }
	20%, 39.9% {
		margin-top: 40%;
		margin-left: 30%;
   }
	40%, 59.9% {
		margin-top: 20%;
		margin-left: 70%;
   }
	60%, 79.9% {
		margin-top: 30%;
		margin-left: 20%;
   }
	80%, 99.9% {
		margin-top: 30%;
		margin-left: 80%;
   }
}
@-o-keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
   }
	20%, 39.9% {
		margin-top: 40%;
		margin-left: 30%;
   }
	40%, 59.9% {
		margin-top: 20%;
		margin-left: 70%;
   }
	60%, 79.9% {
		margin-top: 30%;
		margin-left: 20%;
   }
	80%, 99.9% {
		margin-top: 30%;
		margin-left: 80%;
   }
}
@-ms-keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
   }
	20%, 39.9% {
		margin-top: 40%;
		margin-left: 30%;
   }
	40%, 59.9% {
		margin-top: 20%;
		margin-left: 70%;
   }
	60%, 79.9% {
		margin-top: 30%;
		margin-left: 20%;
   }
	80%, 99.9% {
		margin-top: 30%;
		margin-left: 80%;
   }
}
@keyframes position {
	0%, 19.9% {
		margin-top: 10%;
		margin-left: 40%;
   }
	20%, 39.9% {
		margin-top: 40%;
		margin-left: 30%;
   }
	40%, 59.9% {
		margin-top: 20%;
		margin-left: 70%;
   }
	60%, 79.9% {
		margin-top: 30%;
		margin-left: 20%;
   }
	80%, 99.9% {
		margin-top: 30%;
		margin-left: 80%;
   }
}
